*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
form {
  margin: 0;
  padding: 0;
  font-weight: normal;
  background-color: #eee;
}

ol,
ul {
  list-style-type: none;
}

.App {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.calculator {
  width: 100%;
  max-width: 350px;
  background-color: #fff;
}

.display {
  padding: 16px;
  text-align: right;
  background-color: rgb(161, 161, 161);
  font-size: 24px;
  font-weight: 300;
}

button {
  appearance: none;
  border: 1px solid grey;
  outline: none;
  color: black;
  background-color: rgb(233, 232, 232);
  cursor: pointer;
  font-size: 20px;
  transition: 0.4s;
  padding: 20px;
}

button:hover {
  opacity: 0.5;
}

.buttons {
  display: flex;
}

.buttons button {
  flex: 1 1 33.333%;
  max-width: 33.333%;
}

.buttons button:nth-child(n+4) {
  background-color: rgb(252, 128, 46);
}

.line5 {
  display: flex;
}

.line5 button:nth-child(1) {
  flex: 1 1 96.966%;
  max-width: 40.333%;
}

.line5 button:nth-child(3) {
  background-color: rgb(252, 128, 46);
}
